
.modal-body{

  /* background-color: #00008B; */
  /* color: #FFFFFF; */

}


/* h1{

  font-style: serif;
  font-family: serif;
  font-size: 22px; 
}

h3{

  font-style: serif;
  font-family: serif;
  font-size: 22px; 
}

h2{

  font-style: serif;
  font-family: serif;
  font-size: 22px; 
} */

.btn-default{

  color: #FFFFFF;
  /* background-color: #ffd740; */
  border-color: #ffffff;
}
.formenchoice {
  width: 100%;
  margin-left: 29px;
  padding: 5px;
  margin-top: 0em;
  margin-bottom: -1em;
  text-align: center;
  font-weight: bolder;
  color: #0a58a4;
  box-shadow: 3px -1px 12px 0px;
}
.runningleft{
  margin-left: 45px;
}

  .can {
    margin-top: 100px;
  }

  .toppest1 {
    text-align: center;
    text-align: center;
    font-weight: bolder;
    color: #0a58a4;
    box-shadow: 16px -1px 60px 0px;
    margin-top: 17px;
    margin-bottom: 20px;
  }
.design{
  /*background-color: #80808085;*/
  border-radius: 1px solid;
  margin-top: 63px;
 width: 64%;
    height: 100%;
    padding: 28px;
    text-align: center;
    border: 1px solid #8080806b;
    box-shadow: 0 0 10px grey;
}
  @media only screen and (min-width: 360px) and (max-width: 640px) {

    .toppest1 {
      margin-top: -3px;
    }
    .aaaabc {
      width: 90%;
      height: 500px;
    }
    .runningleft{
      margin-left: 45px;
    }
    .design{
      width: 93%;
    }
    ::ng-deep.cdk-overlay-pane{
      max-width: 92vw !important;
    }
  }

  @media only screen and (min-width: 375px) and (max-width: 812px) {
    .formenchoice {
    margin-left: -26px;
    }

    ::ng-deep.cdk-overlay-pane{
      max-width: 92vw !important;
    }
  }

  @media only screen and (min-width: 320px) and (max-width: 568px) {
    
    .formenchoice {
    margin-left: -23px;
    }

  }

  @media only screen and (min-width: 1024px) and (max-width: 1366px) {
    .toppest1{
      margin-left: -2px;
    }
  }


