.box-outline {
    margin-top: 140px;
    margin-left: 300px;
    border-radius: 15px;
    overflow: hidden;
    padding-bottom: 20px;
    border: 1px solid #5a9dc1;
    box-shadow: 1px 1px 6px #67a7d9;
    background: #1f80a7;
}

.reset {
    margin-bottom: 15px;
    text-align: center;
    color: red;
    
}
.reset-text p {
    padding: 17px 0px;
    color: rgb(232, 228, 228);
    font-weight: bolder;
    font-size: x-large;
}
.reset h1 {
    font-size: x-large;
    font-weight: bold;
    color: #f12e0f;
    text-shadow: 1px 1px #f3b7b7;
}
.submitbutton {
    color: white;
    outline: 0px;
    font-size: larger;
    border: 0px;
    border-radius: 15px;
    padding: 5px 14px;
    font-weight: bolder;
    margin-top: 17px;
    background: rgb(35, 86, 129);
}
.text-new label {
    color: rgb(35, 86, 129);
    font-weight: bolder;
    margin: 10px 0px;
    color: black;
}
.mobilenumber
{
    text-align: center;
}
.OTP{
    text-align: center; 
}
@media only screen and (min-width:300px) and (max-width: 767px) {
    .reset-text p {
        padding: 17px 0px;
        color: rgb(35, 86, 129);
        font-weight: bolder;
        font-size: smaller;
    }
    .box-outline {
        margin-left: 1px;
    }
}

@media only screen and (min-width:768px) and (max-width: 1024px) {
    .box-outline {
        margin-left: 1px;
    }

}



