<div>
  <h2 class="text-center  toppest1 col-md-offset-1 col-md-10">
    Closed Funds</h2>
</div>
<div class="col-xs-10 col-md-10 entiy">
  <div class="row">
    <span id="itemsperpagemargin">
      <label for="Items Per Page">Entity Per Page &nbsp;</label>
      <select id="itemperpagestyle" [(ngModel)]="itemsPerPage123" (change)="userpag(itemsPerPage123)">

        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="15">15</option>
        <option value="20">20</option>
      </select>
    </span> &nbsp;

  </div>
</div>
<div class="col-md-offset-9">
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>

<div class="col-md-3 col-xs-12 col-sm-12 divborder" *ngFor="let data of closed">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 line1">
      <label class="chitamount" style="margin-left: 82px;">{{data.chit_amount}}</label>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 chitlogo">
      <div class="col-xs-6 col-sm-6 col-md-6 imgdiv" [ngStyle]="{'background-image':' url(' + data.company_logo + ')'}"
        style="background-size: 100% 100%;">
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 amount">
        <div class="row">{{data.chit_duration+" "+'Months'}}</div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 star">
        <div class="row"><span ng-repeat="num in getNumber(data.RATING) track by $index"
            class="glyphicon glyphicon-star-empty"></span></div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12" style="color: #0a58a4;    text-transform: capitalize;margin: 2vh 0vh;">
        <div class="row">
          <!-- {{data.chit_number | uppercase}} ({{data.company_name | uppercase}},&nbsp;{{data.chit_location | uppercase}}) -->
          {{data.chit_number | uppercase}}&nbsp;({{data.chit_location | uppercase}})
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12  line3">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 more buttontext" (click)="getClosedChits(data)"
          style="margin-left: 59px;margin-top: 8px; cursor: pointer;"> VIEW DETAILS</div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!closed[0]" class="col-xs-12 col-sm-12 col-md-12">
  <div class="text-center " style="color: red">
    <h2>No Closed Funds Found</h2>
  </div>
</div>
<div class="col-md-12 col-xs-12 col-sm-12 rightalignment" ng-show="closedChitData.length>0">
</div>

<div class="modaltopp">
  <div class="modal fade" #closdchit id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="!submitted">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header headcs">
          <h3 class="modal-title text-div" style="text-align: center;
    color: white;"> FRATERNITY DETAILS</h3>
        </div>
        <div class="modal-body bdycs">
          <div class="col-md-12 col-sm-12 col-xs-12 chit-result">
            <div class="col-sm-10 col-xs-10 col-md-4 chit-logo" id="backwater">
              <div class="row">
                <div class="single-chit-result"></div>
                <div class="col-xs-12 col-sm-12 col-md-12 text-div chit-more-name">{{closeddata.company_name}}</div>
                <div class="col-xs-12 col-sm-12 col-md-12 text-div chit-more-amount">{{closeddata.chit_amount }}</div>
              </div>
            </div>
            <div class="col-sm-12 col-md-8">
              <table class="table table-striped table-bordered" style="width:100%;">
                <tbody id="tablefontstyle1">
                  <tr class="qwe">
                    <th id="paddtable1">Fraternity Amount</th>
                    <th>{{closeddata.chit_amount }}
                    </th>
                  </tr>
                  <tr>
                    <th>Fraternity Start Date</th>
                    <th>{{closeddata.startdate}}</th>
                  </tr>
                  <tr>
                    <th>Fraternity Duration</th>
                    <th>{{closeddata.chit_duration}}</th>
                  </tr>
                  <tr>
                    <th>Fraternity Company</th>
                    <th>{{closeddata.company_name}}</th>
                  </tr>
                  <tr>
                    <th>Max Bid Amount</th>
                    <th>{{closeddata.max_bid_amount }}</th>
                  </tr>
                  <tr>
                    <th>Min Bid Amount</th>
                    <th>{{closeddata.min_bid_amount }}</th>
                  </tr>
                  <tr>
                    <th>Fraternity Location</th>
                    <th>{{closeddata.chit_location}}</th>
                  </tr>
                  <tr>
                    <th>Foreman Commission</th>
                    <th>{{closeddata.foreman_commission }}</th>
                  </tr>
                  <tr>
                    <th>Fraternity Type</th>
                    <th>{{closeddata.chit_type}}</th>
                  </tr>
                  <tr>
                    <th>Fraternity Number</th>
                    <th>{{closeddata.chit_number}}</th>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" style="    background-color: #37ab;
    margin-right: 249px;">ok</button>

        </div>
      </div>
    </div>
  </div>
</div>