

.why-gchits-img {
    display: none;
}

.why-gchits img {
    width: 100vw;
    height: 100vh;
}

.imagecontent img {
    width: 80%;
    margin-top: 9px;
}

.topheading {
    padding-left: 30px;
    color: #337ab7;
    font-family: "Times New Roman";
}

.why-gchits {
    display: block;
}

.footer-div p {
    color: #a5a5a5;
    font-family: font4;
}

.footer-div {
    background: #132156;
}

footer h1 {
    font-family: font1;
    color: #f57a65;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    font-size: 17px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

h1.fund2 {
    margin-left: 3px;
    font-family: font1;
    font-size: 33px;
    color: #0960a5;
    margin-top: 68px;
}

.fund-div2 p {
    font-size: 18px;
    color: #0960a5;

    text-align: justify;
    line-height: 2;
}

.aboutimg {
    position: absolute;
    opacity: 0.2;
    height: 386px;
    margin-left: 338px;
}
.fwimg {
    width: 66vw;
    height: 70vh;
    margin-right: 57px;
}

h1.fund {
    margin-left: 121px;
    font-family: font1;
    font-size: 33px;
    color: #0960a5;
}
h1.fund1 {
    margin-left: 3px;
    font-family: font1;
    font-size: 33px;
    color: #0960a5;
}
.check{
    margin-top:100px;
}

.fund-div1 p {
    font-size: 18px;
    color: #0960a5;
    text-align: justify;
    line-height: 2;
    
}


.txt {
    position: relative;
    top: 16px;
}
.footer-div p {
    color: #a5a5a5;
    font-family: font4;
}

.footer-div {
    background: #132156;
}

footer h1 {
    font-family: font1;
    color: #f57a65;
}
.footer-div p {
 color: #a5a5a5;
  font-family: font4; 
  } 
  .footer-div {
   background: #132156;
    right: 0; left: 0; padding:
     1rem; 
 }

footer h1 {
    font-family: font1;
    color: #f57a65;
}

.aboutimg {
    position: absolute;
    opacity: 0.2;
    height: 610px;
    margin-left: 194px;
}

.footcls {
    color: #a5a5a5;
    background-color: #132156;
}

.footer-div {
    background: #132156;
}

.swti{
    margin-top: 100px;
}