.formenchoice {
  padding: 5px;
  /*margin-top: 2em;*/
  margin-bottom: 3em;
  text-align: center;
  font-weight: bolder;
  color: #0a58a4;
  /* box-shadow: 191px 5px 60px 0px; */
  box-shadow: 3px -1px 12px 0px;
}
.runningleft{
  margin-left: 45px;
}
.backleft{
  width:40%;
  height: 34px;
}

.divborder {
  
  width: 40vh!important;
  height: 37vh!important;
  /*margin: 16px 16px;*/
  margin-left: 90px;
  box-shadow: 1px 1px 2px 1px #1d7aab;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;
}

.divborder:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  box-shadow: 0 0 20px rgba(0, 0, 0, .2);
}

.line3 {
  background: #1d8ccd;
  color: white;
  margin-top: 52px;
  height: 36px;
}


.line3 {
  background: #1d8ccd;
  color: white;
  margin-top: 30px;
  height: 36px;
  width: 256px;
  margin-left: -1px;
  margin-top: 105px;
  width: 40vh!important;
  /*margin: 16px 16px;*/
  box-shadow: 1px 1px 2px 1px #e3dfdf;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;
  border-left: 1px solid #1d8ccd;
  border-right: 1px solid #1d8ccd;
}

.chitlogo {
  height: 21vh;
  padding-top: 2.5vh;
}

.img1 {
  height: 15vh;
  width: 15vh;
  margin-left: 5em;
  border-radius: 18px;
}

.chitlogo .imgdiv {
  width: 14vh;
  height: 14vh;
  border-radius: 5px;
  border: 1px solid #0a58a4;
}

.ima {

  width: 96px;
  height: 97px;
  margin-left: -16px;
}

.line3 {
  margin-top: 68px;
}

.chitlogo .amount {
  padding: 15px 0px;
  margin-left: 17px;
  text-align: center;
  margin-top: 0.5vh;
  font-size: 21px;
  width: 15vh;
  box-shadow: 2px 0.5px 0.3px 1px rgb(165, 169, 191);
  border-left: 0px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}

.buttontext1 {
  color: #1d8ccd;
  font-size: 2vh;
  text-align: center;
}

.toppest1 {
  text-align: center;
  text-align: center;
  font-weight: bolder;
  color: #0a58a4;
  box-shadow: 16px -1px 60px 0px;
  margin-top: 10px;
  /*margin-left: 100px;*/
}

.textall{
  text-align: center;
  cursor: pointer;
  margin-top: 8px;
}

@media only screen and (min-width: 320px) and (max-width: 640px) {
  .divborder {
    margin-left: 62px;
    margin-top: 52px;
  }
  .closenorecord {
    margin-top: 50px;
  }
  .view
{
      margin-top: -22px;
  }
  .line3{
    margin-top: 57px;
    width: 40.4vh!important;
  }
  .textall{
    text-align: center;
    /* margin-left: 93px; */
    margin-top: 8px;
}

  
}


