<div class="col-md-12 col-xs-12 col-sm-12">
  <h2 class="text-center formenchoice toppest1"> Closed Funds </h2>
</div>
<div class="col-md-3 col-xs-12 col-sm-12 divborder" *ngFor="let data of closed">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 line1">
      <label class="chitamount">{{data.chit_amount}}</label>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 chitlogo">
      <div class="col-xs-6 col-sm-6 col-md-6 imgdiv" [ngStyle]="{'background-image':' url(' + data.company_logo + ')'}"
        style="background-size: 100% 100%;">
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 amount">
        <div class="row">{{data.chit_duration+" "+'Months'}}</div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 star">
        <div class="row"><span ng-repeat="num in getNumber(data.RATING) track by $index"
            class="glyphicon glyphicon-star-empty"></span></div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12" style="color: #0a58a4;    text-transform: capitalize;margin: 2vh 0vh;">
        <div class="row">

          {{data.chit_number | uppercase}}&nbsp;({{data.chit_location | uppercase}})
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12  line3">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12  buttontext textall" (click)="getClosedChits(data)"> VIEW DETAILS
        </div>
      </div>
    </div>  
  </div>
</div>
<div *ngIf="!closed[0]" class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>
  <div style="text-align: center;color: red">
    <h2>No Closed Funds Found</h2>
  </div>
</div>
<div class="col-md-12 col-xs-12 col-sm-12 rightalignment" ng-show="closedChitData.length>0">
</div>