  <div>
  <h2 class="text-center  toppest1 col-md-offset-1 col-md-10">
    Choose Fund Type</h2></div>
  <div class="col-md-12 toppest">
    <div class="col-md-5" id="radiopanel">
      <div id="radioin">
        <span id="applytospan" (click)="duration()">Fixed Duration</span>
      </div>
    </div>
    <div class="col-md-5" id="radiopanel">
      <div id="radioin">
        <span id="applytospan">Fixed Amount</span>
      </div>
    </div>
  </div>





<div class="modal fade" #chitres id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="!submitted" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel" style="text-align: center">New Fund</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>  
    <div class="modal-body">
        <p>Fund saved successfully. Please wait for our funds team to validate the funds.<p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">ok</button>
      
      </div>
    </div>
  </div>
</div>
