 
   .toppest1 {
    text-align: center;
    text-align: center;
    font-weight: bolder;
    color: #0a58a4;
    box-shadow: 16px -1px 60px 0px;
    /* margin-top: 165px; */
    /* margin-left: 100px; */
}

.addedmem{
  background-color: #337ab7;
  font-size: 28px; 
  color: white; 
  text-align: center;
}

.addmem1{
  font-size: 20px;
   text-align: center;
}


.reqmem{
  margin-top: 50px;
}

.bsck{
  background-color:  #337ab7;
  color: white;
}
.imgr{
  height: 100%;
  width: 100%;
}



   @media only screen and (min-width:320px) and (max-width: 767px) {
     .bacleft {
       margin-left: -15px;
     }
     .addright {
       margin-right: -15px;
     }
   }

   @media only screen and (min-width:768px) and (max-width: 1024px){

    .toppest1{
      margin-left: 2px;

    }
    .table-responsive{
      margin-left: -48px;
    }
   }
