
  <div>
  <h2 class="text-center  toppest1 col-md-offset-1 col-md-10">
    Running Funds</h2></div>
<div class="col-md-3 col-xs-12 col-sm-12 divborder" *ngFor="let item of running_data">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 line1 text-center">
      <label class="chitamount1">{{item.chit_amount}}</label>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 chitlogo">
      <div class="col-xs-6 col-sm-6 col-md-6 imgdiv" [ngStyle]="{'background-image':' url(' + item.company_logo + ')'}" style="background-size: 100% 100%;">
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 amount">
      <div class="row">{{item.chit_duration+" "+'Months'}}</div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 compname" style="color: #0a58a4;text-transform: capitalize;margin: 2vh 0vh; ">
        <div class="row" style="text-transform: uppercase;">{{item.chit_number | uppercase}}&nbsp;({{item.chit_location | uppercase}})</div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12  line3 text-center">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 more buttontext" (click)="progress(item)"><b>VIEW PROGRESS</b></div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-12 col-sm-12 col-xs-12" *ngIf="!running_data[0]">
  <div class="text-center">
    <h2 id="norecordsstyle" style=" text-align: center;color: red;">No Running Funds Found</h2>
  </div>
</div>
