<div style="margin-top: 100px;">

    <div class="form-group">
        <img src="assets/images/Silver.png" class="{{silvercoinopacity}}" title="{{silver}}"
            [routerLink]="['/rtm-dashboard/silverloan']" style="width:20%;cursor: pointer;">
        <img src="assets/images/demoimg2.png" class="{{goldcoinopacity}}" title="{{gold}}"
            [routerLink]="['/rtm-dashboard/goldloan']" style="width:20%;cursor: pointer;">
        <img src="/assets/images/Final-Platinum.png" class="{{platinumcoinopacity}}" title="{{platinum}}"
            [routerLink]="['/rtm-dashboard/platinumloan']" style="width:20%;cursor: pointer;">
    </div>


</div>