
  <router-outlet>
      <div class="col-xs-12 col-sm-12 col-md-12 buttonclass mantop">
          <div>
              <h3 class="text-center formenchoice ">
      Manage Team </h3></div>
          <div class="align">
              <button ng-click="addroles()" class="btn btn-primary butalign1">Role</button>
              <br>
              <button ng-click="addteam();getfeatures()" class="btn btn-primary butalign1">Features</button>
              <br>
              <button class="btn btn-primary butalign1" ng-click="addpermission();getpermission()">Permission</button>
              <br>
              <button ng-click="addrpf()" class="btn btn-primary butalign1">Role Feature and Permission</button>
          </div>
      </div>
  </router-outlet>
 
  
