 <div class="col-md-12 col-xs-12 col-sm-12">
    <div class="row">
        <div class="header-unit col-md-12 col-xs-12 col-sm-12">
            <div class="row">
                <!-- <div id="video-container">
                      <video autoplay="true" loop="true" class="fillWidth" muted> 
                         <source src="assets/video/Gchits_web.mp4" type="video/mp4">    -->

                        <!-- <source src="iTheme_Story.webm" type="video/webm">
                        <source src="iTheme_Story_lpwsize.ogv" type="video/ogv"> -->

                    <!-- </video> 
                </div> -->
            </div>
        </div>
    </div>
</div>
 <footer>

 <div class="col-md-12 col-xs-12 col-sm-12 footcls">
        <div class="row">
            <div class="col-md-4 col-xs-12 col-sm-3 text-center">
                <div class="row">
                    <h3>Links</h3>
                    <div class="col-md-12 col-xs-12 col-sm-12">
                        <div class="row">
                            <div class="col-md-12 col-xs-12 col-sm-12">
                                <div class="row ptr">
                                    <p (click)="openpopterms()" > Terms and Conditions</p>
                                </div>
                            </div>
                            <div class="col-md-12 col-xs-12 col-sm-12">
                                <div class="row ptr">
                                    <p ng-click="openpopprivacy()" (click)="privacy()">Privacy Policy</p>
                                </div>
                            </div>
                            <div class="col-md-12 col-xs-12 col-sm-12">
                                <div class="row ptr">
                                    <p (click)="openpopfaq()">FAQ's</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12 col-sm-5 text-center">
                <div class="row">
                    <h3>Contact Us</h3>
                    <div class="col-md-12 col-xs-12 col-sm-12">
                        <div class="row">
                            <p>Address: #28/1, 15th main, 1st cross,E-block,</p>
                            <p>Next to Nandhana palace, Sahakaranagar, Bangalore - 560092.</p>
                            <p>Mobile: +91 7019508385</p>
                            <p>E-mail: info.gfunds@gowdanar.com</p>
                            <span>Website:&nbsp;<a href="https://www.gowdanarfunds.com" target="_blank">www.gowdanarfunds.com</a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12 col-sm-4 text-center">
                <div class="row">
                    <h3>Site Map</h3>
                    <div class="col-md-12 col-xs-12 col-sm-12">
                        <div class="row">
                            <span>
                                <iframe class="sitecls" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d971.6561036793344!2d77.59138710362998!3d13.059562440342134!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae1932c0d77779%3A0xe2eed8a76b77fa50!2sGowdanar+Chitfunds+Pvt+Ltd!5e0!3m2!1sen!2sin!4v1525849850550" width="250"></iframe>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>