<div class="smapp">
  <div class="col-md-12 col-xs-12 col-sm-12 ">
    <div class="row">
      <div class="header-unit col-md-12 col-xs-12 col-sm-12">
        <div class="row">
          <div id="video-container">
            <!-- <video autoplay="true" loop="true" class="fillWidth" [muted]>
              <source src="assets/video/Gchits_web.mp4" type="video/mp4">
            </video> -->

            <video loop="true" preload="auto"  autoplay  onloadedmetadata="this.muted = true">
    <source src="assets/video/Gchits_web.mp4" type="video/mp4">
</video>

          </div>
        </div> 
      </div>
    </div>
  </div>
  <!-- <app-footer></app-footer> -->
</div>
<div class="col-md-12 swti" >
  <div class="row">
      <div class="col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 fund-div1 ">
          <h1 class="fund1"><b>ABOUT US</b></h1>
          <div class="txt">
              <p>
                  Registered Fraternity fund companies are primarily regulated by the Central Fraternity Fund Act and also has to comply with prescribed rules and regulation formulated by the respective state governments.
                  <br>As per the existing law, the foreman (Fraternity Fund Company) must deposit 100% of the Fraternity value with the Registrar of Fraternities prior to the commencement of the Fraternity group. All accounts have to be audited by a qualified Chartered Accountant. Every group run by Gowdanar Fraternity’s is registered and all regulations are followed.
                  <br>Gowdanar Fraternity’s is backed by its seasoned team of professionals who have decades of experience and can understand any query related to Fraternities and can help you reap maximum benefits from investing in a Fraternity. With over 10 years of experience in Fraternity business, it is the safest, most reliable and trustworthy company to make your Fraternity related investments.
                  <br>Fraternity Funds is a high risk low margin business. There have been many flies by night operators who have tarnished the image of this business sector. So, when choosing to save and invest in Fraternities, it is important to take an informed decision and invest only with companies who have a reliable track record. Since inception, honesty and transparency have been inbuilt into the DNA of our company. We enjoy a lot of goodwill in the markets we operate in and we guard our reputation closely. Over the past few decades, we have fulfilled our obligation towards customers by providing them honest, trustworthy and reliable service. It gives us great pleasure to have fulfilled the aspirations of our employees, who have grown with the company.
              </p>
          </div>
      </div>
      <div class="col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 fund-div2">
          <h1 class="fund2 "><b>FRATERNITY IN BRIEF</b></h1>
          <p class="" style="text-align: justify;">
              The concept of Fraternity funds is indigenous to India and originated more than 1000 years ago. Initially it was in the form of an informal association of traders and households within communities, wherein the members contributed some money in return for an accumulated sum at the end of the tenure.
              <br>It is a mechanism that combines borrowing and savings in a single scheme. In a Fraternity fund scheme , a group of individuals come together for a pre-determined time and contribute to a common pool at regular intervals. Every month, up until the end of the tenure of the scheme, the collected pool of money is loaned out internally through a bidding mechanism to the most deserving member. This way, people who need funds and those who want to save are able to meet their requirements.
              <br>Fraternity funds are equivalent of the Rotating Savings and Credit Associations (ROSCA) that are famous throughout the world. ROSCAs are a means to "save and borrow" simultaneously. It is considered one of the best instruments to cater to the needs of a customer. It enables people to convert their small savings into lump sums.
          </p>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12 ffw">
          <div class="row">
              <h1 class="fund how"><b>How does Fraternity fund work?</b></h1>
              <div class="col-md-12 col-xs-12 col-sm-12">
                  <div class="row">
                      <div class="col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 fund-div fund-div2">
                          <p>
                              The following illustration will explain how a Fraternity fund works.
                              <br> There is a new Fraternity fund group that is commencing. The value of the Fraternity fund is 2,00,000. This amount is known as the Fraternity fund Value.
                              <br>
                          </p>
                      </div>
                  </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                  <img src="/assets/images/fra1.jpg" class="fwimg">
              </div>
              <div class="col-md-12 col-xs-12 col-sm-12">
                  <div class="row">
                      <div class="col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 fund-div fund-div2">
                          <p>
                              For this illustration, we will consider the duration of the Fraternity fund to be 20 months. This is known as term period for the Fraternity fund group.
                              <br> The Foreman or Fraternity fund Company must gather 20 people who are interested in investing in this Fraternity fund group. These 20 persons are called Subscribers.
                              <br> Once the Fraternity fund group commences, the foreman must register the Fraternity fund with the registrar of Fraternity funds. He must pay 100% of the Fraternity fund value as security.
                              <br> This amount can be withdrawn only after the said Fraternity fund group closes and every subscriber is paid what is due to him or her. This regulation protects the interests of the subscriber to a certain extent.
                              <br> The amount collected from the members in the group is called the pot.
                          </p>
                      </div>
                  </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                  <img src="/assets/images/fra2.jpg" class="fwimg">
              </div>
              <div class="col-md-12 col-xs-12 col-sm-12">
                  <div class="row">
                      <div class="col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 fund-div fund-div2">
                          <p>
                              The amount to be saved every month by the Subscriber is Fraternity fund value/No of person’s i.e. 2,00,000/20 = 10,000.
                              <br> This is also known as Monthly Subscription.
                              <br> It may be noted here that the number of persons investing in a Fraternity fund and the duration of the Fraternity fund is always the same.
                              <br> The maximum monthly contribution or Subscription Amount that a Subscriber will pay is 10,000.
                              <br> The Subscriber does not always pay the entire Subscription amount every month.
                              <br> Let us find out how and why he does not have to pay the entire amount.</p>
                      </div>
                  </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                  <img src="/assets/images/fra3.jpg" class="fwimg">
              </div>
              <div class="col-md-12 col-xs-12 col-sm-12">
                  <div class="row">
                      <div class="col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 fund-div fund-div2">
                          <p>The maximum discount or maximum bid permitted ranges from 5-35%. For this illustration we will assume that a Subscriber has bid 35% of the Fraternity fund value. 35% of 2,00,000 is 1,30,000. This amount is known as Fraternity fund Discount.</p>
                      </div>
                  </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                  <img src="/assets/images/fra5.jpg" class="fwimg">
              </div>
              <div class="col-md-12 col-xs-12 col-sm-12">
                  <div class="row">
                      <div class="col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 fund-div fund-div2">
                          <p>
                              The foreman charges 5% of Fraternity fund value as commission. In this illustration, that would amount to 5,000. This is deducted from Fraternity fund Discount i.e. 70,000-5000=65,000. This amount is available for equal distribution among the subscribers.
                              <br> In our example, 65,000 would be divided equally among 20 subscribers. Each subscriber would get a discount of 65,000/20 = 3250. This amount is known as Dividend.</p>
                      </div>
                  </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                  <img src="/assets/images/fra4.jpg" class="fwimg">
              </div>
              <div class="col-md-12 col-xs-12 col-sm-12">
                  <div class="row">
                      <div class="col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 fund-div fund-div2">
                          <p>
                              In the following month, all subscribers would have to only pay 3,250 instead of 10,000. This is because they have earned a Fraternity fund discount of 3250.
                              <br> Depending upon the competition within the Fraternity fund group the discount percent would vary. The least discount would be 5% which is the foreman’s commission. The bidding process will continue until the end of the Fraternity fund period.
                              <br> In this manner, the subscribers can borrow more than what they paid in the first half period of the Fraternity fund term and save their money if they decide to wait further into the Fraternity fund period.</p>
                      </div>
                  </div>
              </div>
             </div>
      </div>
      <div class="gfund">
          
          <div class="col-md-12 col-xs-12 col-sm-12">
              <div class="col-md-12 col-xs-12 why-gchits-img" style="background: aliceblue;">
                  <div class="col-md-1"></div>
                  <h1 class="topheading">WHY FUND</h1>
                  <div class="col-md-5 col-xs-12">
                      <div class="row">
                          <div class="col-md-12 col-xs-12">
                              <div class="row">
                                  <img src="/assets/images/Unique Solution1.png" class="imgmobile">
                              </div>
                          </div>
                          <div class="col-md-12 col-xs-12">
                              <div class="row">
                                  <img src="/assets/images/Neutral Platform.png" class="imgmobile">
                              </div>
                          </div>
                          <div class="col-md-12 col-xs-12">
                              <div class="row">
                                  <img src="/assets/images/Cloud Info.png" class="imgmobile">
                              </div>
                          </div>
                          <div class="col-md-12 col-xs-12">
                              <div class="row">
                                  <img src="/assets/images/Technical Advices.png" class="imgmobile">
                              </div>
                          </div>
                          <div class="col-md-12 col-xs-12">
                              <div class="row">
                                  <img src="/assets/images/Available Options.png" class="imgmobile">
                              </div>
                          </div>
                          <div class="col-md-12 col-xs-12">
                              <div class="row">
                                  <img src="/assets/images/Fast Services.png" class="imgmobile">
                              </div>
                          </div>
                          <div class="col-md-12 col-xs-12">
                              <div class="row">
                                  <img src="/assets/images/Rates.png" class="imgmobile">
                              </div>
                          </div>
                          <div class="col-md-12 col-xs-12">
                              <div class="row">
                                  <img src="/assets/images/Flash Notification.png" class="imgmobile">
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-1"></div>
              </div>
          </div>
      </div>
      <div class="col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 fund-div1 ">
          <h1 class="fund1"><b>Given below is a list of Fraternity fund available at Gowdanar Fraternity fund.</b></h1>
          <div class="table-responsive">
              <table class="table  table-bordered text-center">
                  <tr>
                      <th>Fraternity Fund Value
                      </th>
                      <th>Months</th>
                      <th>Subscription Amount</th>
                  </tr>
                  <tr>
                      <td>1,00,000</td>
                      <td>20</td>
                      <td>5,000</td>
                  </tr>
                  <tr>
                      <td>2,00,000</td>
                      <td>20</td>
                      <td>10,000</td>
                  </tr>
                  <tr>
                      <td>3,00,000</td>
                      <td>20</td>
                      <td>15,000</td>
                  </tr>
                  <tr>
                      <td>5,00,000</td>
                      <td>20</td>
                      <td>25,000</td>
                  </tr>
                  <tr>
                      <td>10,00,000</td>
                      <td>20</td>
                      <td>50,000</td>
                  </tr>
              </table>
          </div>
      </div>
      <footer>
          <div class="col-md-12 col-xs-12 col-sm-12 footcls">
              <div class="row">
                  <div class="col-md-4 col-xs-12 col-sm-3 text-center">
                      <div class="row">
                          <h3>Links</h3>
                          <div class="col-md-12 col-xs-12 col-sm-12">
                              <div class="row">
                                  <div class="col-md-12 col-xs-12 col-sm-12">
                                      <div class="row">
                                          <p class="con" (click)="openpopterms()">Terms and Conditions</p>
                                      </div>
                                  </div>
                                  <div class="col-md-12 col-xs-12 col-sm-12">
                                      <div class="row">
                                          <p class="con" (click)="openpopprivacy()">Privacy Policy</p>
                                      </div>
                                  </div>
                                  <div class="col-md-12 col-xs-12 col-sm-12">
                                      <div class="row">
                                          <p class="con" (click)="openpopfaq()">FAQ's</p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4 col-xs-12 col-sm-5 text-center">
                      <div class="row">
                          <h3>Contact Us</h3>
                          <div class="col-md-12 col-xs-12 col-sm-12">
                              <div class="row">
                                  <p>Address: #28/1, 15th main, 1st cross,E-block,</p>
                                  <p>Next to Nandhana palace, Sahakaranagar, Bangalore - 560092.</p>
                                  <p>Mobile: +91 7019508385</p>
                                  <p>E-mail: info.gfunds@gowdanar.com</p>
                                  <span>Website:&nbsp;<a href="https://www.gowdanarfunds.com" target="_blank">www.gowdanarfunds.com</a></span>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4 col-xs-12 col-sm-4 text-center">
                      <div class="row">
                          <h3>Site Map</h3>
                          <div class="col-md-12 col-xs-12 col-sm-12">
                              <div class="row">
                                  <span>
                              <iframe class="sitecls" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d971.6561036793344!2d77.59138710362998!3d13.059562440342134!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae1932c0d77779%3A0xe2eed8a76b77fa50!2sGowdanar+Chitfunds+Pvt+Ltd!5e0!3m2!1sen!2sin!4v1525849850550" width="250"></iframe>
                          </span>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </footer>
  </div>
</div>

